* {
  font-family: 'Nunito Sans', sans-serif;
}

/* Reutilizable */

.vh100 {
  height: 100vh;
}

.mrgn {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.disabled {
  background-color: gainsboro;
  width: 40%;
}

/* Header */

.light-blue {
  background: linear-gradient(-10deg, #70A4FA, #75C6F5);
}

.navbar-brand {
  color: #ffff;
}

/* Cuerpo */

.background {
  background-image: url('../assets/images/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Personal Info */

.personal-card {
  background-color: #222867dc;
  border-radius: 10px;
  color: #ffff;
  padding: 1rem;
}

.code-student {
  border-top: 1px solid #8390E9;
}

/* Tweet Box */

.box-write-post {
  background-color: #ffff;
  border-radius: 10px;
  color: #ffff;
  padding: 1rem;
}

textarea {
  border: none;
  margin-bottom: .5rem;
  resize: none;
  width: 100%;
}

#tweet {
  width: 100px;
}

/* Tweets Container */

#container-tweets {
  width: 100%;
}

.newPost {
  background-color: #222867dc;
  border-radius: 10px;
  color: #ffff;
  margin: .5rem;
  padding: 1rem;
  word-wrap: break-word;
}

.hours, .close {
  font-size: .8rem;
}